@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
:root {
    /* Color Palette from https://coolors.co/000000-ffffff-5c75ca-f3c16b */
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --accent1-color: #5c75ca;
    --accent2-color: #f3c16b;
    /* Fonts */
    --font-primary: 'Oswald', sans-serif; 
    --font-secondary: 'Open Sans', sans-serif;
}
/* Global Styles */
* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
/* Body */
body {
    font-family: var(--font-secondary);
    background-image: repeating-linear-gradient(
        90deg, 
        var(--secondary-color) 0%, 
        var(--secondary-color) 50%, 
        var(--accent1-color) 50%, 
        var(--accent1-color) 100%
    );
}
/* Header */
header h1, header p {
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 1.5rem;
}
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    margin: 3px;
}
/* Title */
#current-page {
    margin: 15px;
}
/* Navigation */
.navigation {
	display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
	flex-direction: column;
}
.navigation a {
	display: none;
    width: 100%;
	padding: 10px;
	text-decoration: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
}
.navigation a:hover {
	color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    background-color: var(--accent2-color);
}
.navigation.open a {
    display: block;
    width: 100%;
}
.hidden {
    display: none;
}
/* hamburger menu button */
#menu {
    border: 3px solid var(--secondary-color);
    font-weight: bold;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    justify-content: center;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#menu:hover {
    transform: scale(1.1);
}
#menu::before {
	content: "\2630";
}
#menu.open::before {
	content: "X";
}
/* Footer */
footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    margin: 3px;
    font-weight: bold;
}
/*----------------- index.html -----------------*/
.project-card {
    max-width: 300px;
    box-shadow: 0 2px 4px var(--accent1-color);
    margin: 15px;
}
.project-card a {
    text-align: center;
    text-transform: uppercase;
    border: 3px solid var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: 10px;
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}
.project-container{
    padding: 10px;
    margin: 3px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-card a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
.project-card p {
    margin: 10px;
}
/* Image */
.project-card img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 280px;
    padding: 5px;
}
.sub-heading {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: var(--primary-color);
    margin: 3px;
}
/*----------------- about-me.html -----------------*/
.analina-img {
    max-width: 100%;
    height: auto;
}
.analina-container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    max-width: 300px; 
}
.about-me {
    padding: 10px;
    background-color: var(--primary-color);
    margin: 3px;
    text-align: center;
}
.job {
    font-weight: bold;
    margin-top: 15px;
    font-style: italic;
}
/* Resume */
#resume-container {
    background-color: var(--primary-color);
    margin: 3px;
}
.card {
    padding: 10px;
}

.card h3 {
    margin-top: 0;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    padding: 5px 0;
}
/* skills */
.skills-card ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; 
}

.skills-card ul li {
    flex: 1 1 45%; 
    max-width: 45%;
}
.card h3 {
    text-align: center;
    text-transform: uppercase;
    border: 3px solid var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: 10px;
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}
.card h4 {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-style: italic;
}