@media screen and (min-width: 500px) {
    nav  {
        flex-direction: row;
    } 
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .skills-card ul li {
        flex: 1 1 22%; 
        max-width: 22%;
    }
}