/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap");
:root {
  /* Colors Palette */
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --accent1-color: #ebbfd7;
  --accent2-color: #fbf0a4;
  --accent3-color: #c4edb3;
  --accent4-color: #a5deff;
  --heading-font: "Playfair Display";
  --paragraph-font: "Montserrat, Helvetica, sans-serif";
  /* font */
  --heading-font: "Playfair Display";
  --paragraph-font: "Montserrat, Helvetica, sans-serif";
  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--secondary-color); /* headlines on a white background */ 
  --headline-color-on-color: var(--secondary-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--secondary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--primary-color); /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--secondary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: var(--secondary-color);
  --nav-hover-background-color: var(--primary-color);
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  color: var(--secondary-color);
  background-image: linear-gradient(90deg, var(--accent1-color), var(--accent2-color), var(--accent3-color), var(--accent4-color));
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--secondary-color);
}
/* Titulo de la pagina */
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--nav-link-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
/* Table of colors */
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
/* Color de relleno*/
.colors th {
  background-color: #ffffff;
}
/* Size */
.colors td{
  width: 10%;
  height: 3em;
}
/* Lista de colores */
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
  color: #ffffff;
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}
.accent3 {
  background-color: var(--accent3-color);
}
.accent4 {
  background-color: var(--accent4-color);
}
/* Color del parrafo */
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: var(--secondary-color);
  line-height: 3em;
  color: var(--primary-color);
}
.sm-page2 {
  grid-area: page2;
  background-color: var(--secondary-color);
  line-height: 3em;
  color: var(--primary-color);
}
.sm-page3 {
  grid-area: page3;
  background-color: var(--secondary-color);
  line-height: 3em;
  color: var(--primary-color);
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
section {
  padding: 1em;
  text-align: center;
  background-color: var(--primary-color);
}
.fa:hover {
  opacity: 0.7;
} 
.fa-facebook {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
}
.fa-linkedin {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
}  
.fa-youtube {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
} 
.fa-instagram {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
}
.historia {
  text-align: left;
}