@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
:root {
    /* Color Palette from https://coolors.co/000000-ffffff-5c75ca-f3c16b */
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --accent1-color: #5c75ca;
    --accent2-color: #f3c16b;
    /* Fonts */
    --font-primary: 'Oswald', sans-serif; 
    --font-secondary: 'Open Sans', sans-serif;
}
* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
h1, h2, h3, p {
    overflow-wrap: break-word;
}
h1 {
    font-family: var(--font-primary);
    text-transform: uppercase;
}
h2 {
    font-size: 1.8rem;
}
h2, h3 { 
    font-family: var(--font-primary); 
    margin-bottom: 20px;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1.2rem;
}
/* Body */
body {
    font-family: var(--font-secondary);
    max-width: 1200px;
    padding: 4em;
    background-image: repeating-linear-gradient(
        90deg, 
        var(--secondary-color) 0%, 
        var(--secondary-color) 50%, 
        var(--accent2-color) 50%, 
        var(--accent2-color) 100%
    );
    font-size: 1.2rem;
}
/* Section */
section {
    padding: 20px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}
section p {
    text-align: left;
}
/* Scenarios */
.scenarios ul {
    padding-left: 30px;
}
/* Color Schema */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;
  margin: 20px 0;
}
.grid-item {
  border: 1px solid var(--secondary-color);
  padding: 8px;
  font-family: var(--font-primary);
  text-align: center;
  position: relative;
  width: 100%;
}
.grid-header {
    display: block;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    text-align: center;
    padding: 8px;
    font-family: var(--font-primary);
    font-weight: bold;
    width: 100%;
}
/* Specific color styles */
.primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.accent1 {
  background-color: var(--accent1-color);
  color: var(--secondary-color);
}

.accent2 {
  background-color: var(--accent2-color);
  color: var(--secondary-color);
}
/* Colored paragraph */
.colored-1 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    margin: 10px;
}
.colored-2 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    padding: 10px;
    margin: 10px;
}
.colored-3 {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 10px;
    margin: 10px;
}
/* Navigation */
nav  {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    line-height: 3em;
    flex-direction: column;
}
nav a {
    text-decoration: none;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--primary-color);
    text-align: center;
    color: var(--primary-color);
}
nav a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
/* Image */
img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
}
.container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
}