:root {
    /* Color Palette */
    --primary-color: #fefae0;
    --secondary-color: #283618;
    --accent1-color: #606c38;
    /* fonts */
    --heading-font: "Playfair Display";
    --paragraph-font: "Montserrat, Helvetica, sans-serif";
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
h1 {
	font-size: 2rem;
}
p {
    font-family: var(--paragraph-font);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-color: var(--primary-color);
}
.container {
    text-align: center;
    align-content: center;
    background-color: var(--secondary-color);
    padding: 20px;
    color: var(--primary-color);
}
nav {
    background-color: var(--primary-color);
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border: 5px solid var(--secondary-color);
}
nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 5px solid var(--primary-color);
}
nav ul li {
    flex: 1 1 100%;
}