@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    /* Color Palette https://coolors.co/fefae0-283618-419d78 */
    --primary-color: #fefae0;
    --secondary-color: #283618;
    --accent1-color: #419d78;
    /* fonts */
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Lato', sans-serif;
}
h1 {
    font-family: var(--heading-font);
    font-size: 2rem;
}
p {
    font-family: var(--paragraph-font);
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 10px;
    max-width: 100%;
    margin: 10px 0;
}
/* The global selector */
* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
.container {
    text-align: center;
    align-content: center;
    background-color: var(--secondary-color);
    padding: 20px;
    color: var(--primary-color);
}
nav {
    background-color: var(--primary-color);
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border: 5px solid var(--secondary-color);
    font-size: 1.5rem;
    transition: background-color 0.7s ease, color 0.7s ease;
}
nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 5px solid var(--primary-color);
}
nav ul li {
    flex: 1 1 100%;
}
.card ul {
    list-style-type: none;
}
.card ul li {
    margin-bottom: 20px;
}
.card ul li a {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color); 
}
.card ul li a:hover {
    transition: background-color 0.7s ease, color 0.7s ease;
    background-color: var(--secondary-color);
    color: var(--primary-color);  
}
main { 
    display: grid;
    grid-template-columns: 1fr 300px;
    max-width: 1200px; 
    padding: 20px;
    justify-content: center;
}
.card { 
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--accent1-color);
    display: grid; 
    grid-template-rows: auto 1fr auto; 
    gap: 10px;
    text-align: left;
    margin: 10px 10px 10px 10px;
}
.title { 
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px; 
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
    text-align: center;
}
.cardcontent h2 { 
    border-bottom: 1px solid var(--secondary-color); 
    padding-bottom: 10px;
    width: 80%;
    text-align: center; 
}
.cardcontent { 
    display: grid; 
    gap: 20px; 
} 
.block, 
.block-reverse { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    gap: 20px; 
} 
.block img, 
.block-reverse img { 
    width: 100%; 
    border-radius: 8px;  
    box-shadow: 0 4px 6px var(--accent1-color);
    margin: 10px auto;
    padding: 10px; 
    height: auto;
    max-width: 540px;
} 
.block-reverse { 
    grid-template-columns: 1fr 1fr; 
}
footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    bottom: 0;
    border-top: 1px var(--accent1-color);
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 6px var(--accent1-color);
}
footer p {  
    padding: 5px 0;
    font-size: 1.2rem; 
}
@media (max-width: 800px) {
    nav ul { 
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 100%;
    } 
    nav ul li { 
        margin: 5px 0; 
        flex: 1;
        width: 100%;
    }
    nav ul li a {
        display: block;
        width: 100%;
        text-align: center;
    }
    maiin {
        display: block;
    }
    .block, 
    .block-reverse { 
        display: block;
    } 
    .block img, 
    .block-reverse img { 
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        height: auto;
    }
    main {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    } 
}