@media screen and (min-width: 500px) {
    /* Header */
    header {
        display: flex;
    }
    /* hamburger menu button Hidden */
    #menu {
		display: none;
	}
    /* Navigation */
	.navigation {
		flex-direction: row;
	}
	.navigation a {
		display: block;
	}
    .temple-card {
        display: flex;
        flex: 1 1 calc(50% - 20px);
        flex-direction: column;
        align-items: center;
    }
    .temple-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
    }
}