@media screen and (min-width: 500px) {
    /* Header */
    header {
        display: flex;
    }
    /* hamburger menu button Hidden */
    #menu {
		display: none;
	}
    /* Navigation */
	.navigation {
		flex-direction: row;
	}
	.navigation a {
		display: block;
	}
    /* Main */
    main {
        max-width: 1200px;
    } 
    /* Temple Card */
    .temple-card {
        flex: 1 1 280px;
        max-width: 400px;
    }
    /* Temple Container */
    .temple-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
    }
}