@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    /* Color Palette from https://coolors.co/fefae0-283618-419d78 */
    --primary-color: #fefae0;
    --secondary-color: #283618;
    --accent1-color: #419d78;
    /* fonts */
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Lato', sans-serif;
}
* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

/* ------------- Body -------------*/
body h1 p, ul li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* ------------- Header -------------*/
header {
    display: block;
    align-items: center;
    background-color: var(--secondary-color);
}
header h1 {
    color: var(--primary-color);
    padding: 10px;
}
/* ------------- Navigation -------------*/
.navigation {
	display: flex;
	flex-direction: column;
    padding: 2rem;
    text-align: center;
}
.navigation a {
	display: none;
	padding: 1rem;
	text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}
.navigation a:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

/* ------------- hamburger menu button -------------*/
#menu {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    border-radius: 50%;
    padding: 0px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
	font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    justify-content: center;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
#menu:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.1);
}
#menu::before {
	content: "\2630";
}
#menu.open::before {
	content: "X";
}
.navigation.open a {
    display: block;
    width: 100%;
}
.hidden {
    display: none;
}
/* ------------- Main -------------*/
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2, h3, p {
    text-align: center;
}
main h3 {
    margin-bottom: 10px;
}

/* ------------- Container for the temple pictures -------------*/
.temple-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/* ------------- Temple Card -------------*/
.temple-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    border: 1px solid var(--secondary-color);
}

/* ------------- Image -------------*/

img {
    width: 100%; 
    margin: 10px auto;
    height: auto;
    object-fit: cover;
    height: 200px;
}
/* Footer */
footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    box-shadow: 0 4px 6px var(--accent1-color);
}
footer p {  
    margin: 0;
}