@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    /* Color Palette from https://coolors.co/ffcc00-00247d-cf142b-ffffff-000000 */
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --accent1-color: #ffcc00;
    --accent2-color: #00247d;
    --accent3-color: #cf142b;
    /* Google Fonts */
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Lato', sans-serif;
}
* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
/* Body */
body {
    font-family: var(--paragraph-font); 
    border: 3px solid var(--accent2-color);
    max-width: 800px;
}
/* Fonts Styles*/
h1 {
    font-size: 2.1rem;
}
h1, h2, h3, p {
    overflow-wrap: break-word;
}
h1,h2,h3 {
    font-family: var(--heading-font);
    padding: 10px;
}

.container {
    background-image: repeating-linear-gradient(
        90deg, 
        var(--accent1-color) 0%, 
        var(--accent1-color) 33.33%, 
        var(--accent2-color) 33.33%, 
        var(--accent2-color) 66.66%, 
        var(--accent3-color) 66.66%, 
        var(--accent3-color) 100%
    );
}
section {
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
/* Card design */
.card {
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
.card-header {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
}
th {
    text-align: right;
}
td {
    text-align: left;
}
/* Hero Image */
img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.hero {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
/* Footer */
footer {
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
