@media screen and (min-width: 800px) {
    /* Card Large Views */
    .card {
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
    }
    /* Card Data Large Views */
    .card-data {
        position: absolute !important;
        top: 2rem;
        left: 3rem;
    }
    /* Card Header Large Views */
    .card-header {
        background-color: var(--accent1-color);
        position: absolute;
        left: -1rem;
        width: 85%;
        text-align: start;
        padding: 0.5rem;
        margin-bottom: 0;
    }
    /* Card Header H2 Large Views*/
    .card-header h2 {
        margin: 0;
        display: inline;
    }
    /* Card Body Large Views */
    .card-body {
        padding-top: 50px; 
        font-size: 12px;
    }
    /* Card Weather Large Views */
    .card-weather {
        position: absolute !important;
        bottom: 2rem;
        right: 3rem;
        font-size: 12px;
    }
}
