@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    /* Color Palette from https://coolors.co/fefae0-283618-419d78 */
    --primary-color: #fefae0;
    --secondary-color: #283618;
    --accent1-color: #419d78;
    /* fonts */
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Lato', sans-serif;
}

/* ------------- Body -------------*/
body h1 p, ul li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* ------------- Header -------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
header h1 {
    margin: 0;
    font-size: 1.5rem;
}

/* ------------- hamburger menu button -------------*/
.hamburger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: var(--primary-color);
}

/* ------------- Navigation -------------*/
.navigation {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-color);
}
.navigation.show {
    display: flex;
}

.navigation li {
    text-align: center;
    margin: 0;
}

.navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    transition: background-color 0.7s ease, color 0.7s ease;
}
.navigation a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* ------------- Main -------------*/
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    margin: 0;
    font-size: 1.8rem;
}

/* ------------- Container -------------*/
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* ------------- Image -------------*/
img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px var(--accent1-color);
}
img {
    width: 100%; 
    border-radius: 8px;  
    box-shadow: 0 4px 6px var(--accent1-color);
    margin: 10px auto;
    padding: 10px; 
    height: auto;
}


/* ------------- Footer -------------*/
footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    box-shadow: 0 4px 6px var(--accent1-color);
}
footer p {  
    margin: 0;
    font-size: 1rem; 
}