@media screen and (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    
    /* ------------- hamburger menu button Hidden -------------*/
    #menu {
		display: none;
	}
    /* ------------- Navigation -------------*/
	.navigation {
		flex-direction: row;
	}
	.navigation a {
		display: block;
	}

    /* ------------- Main -------------*/
    main {
        max-width: 1200px;
    }  
}