@media screen and (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    
    /* ------------- hamburger menu button Hidden -------------*/
    #menu {
		display: none;
	}
    /* ------------- Navigation -------------*/
	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    /* ------------- Main -------------*/
    main {
        max-width: 1200px;
        padding: 40px;
    }

    /* ------------- Container -------------*/
    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }   
}