@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    /* Color Palette from https://coolors.co/fefae0-283618-419d78 */
    --primary-color: #fefae0;
    --secondary-color: #283618;
    --accent1-color: #419d78;
    /* fonts */
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Lato', sans-serif;
}

/* ------------- Body -------------*/
body h1 p, ul li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* ------------- Header -------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}
header h1 {
    padding: 20px;
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* ------------- hamburger menu button -------------*/
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--primary-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

/* ------------- Navigation -------------*/
.navigation {
	display: flex;
	flex-direction: column;
    padding: 1rem;
    text-align: center;
}
.navigation a {
	display: none;
	padding: 1rem;
	text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 700;
}
.navigation a:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before { 
	content: "📍";  /* just a wayfinding symbol for the user */
}

.stuff {
	margin: 0.5m;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
}

/* ------------- Main -------------*/
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    margin: 0;
    font-size: 1.8rem;
}

/* ------------- Container for the temple pictures -------------*/
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* ------------- Image -------------*/
img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px var(--accent1-color);
}
img {
    width: 100%; 
    border-radius: 8px;  
    box-shadow: 0 4px 6px var(--accent1-color);
    margin: 10px auto;
    padding: 10px; 
    height: auto;
}


/* ------------- Footer -------------*/
footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    box-shadow: 0 4px 6px var(--accent1-color);
}
footer p {  
    margin: 0;
    font-size: 1rem; 
}